name: release

on: workflow_dispatch

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install -U pip wheel twine
        sudo apt update
        sudo apt install debootstrap python3-venv make
    - name: Make dists
      run:
        make release
    - name: Release test
      run:
        make release-test
    - name: Publish a Python distribution to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
        verbose: true
    - name: Read version
      run: "echo furnace_version=$(cat furnace/VERSION) | tee --append $GITHUB_ENV"
    - name: Tag
      uses: negz/create-tag@v1
      with:
        version: "v${{ env.furnace_version }}"
        token: ${{ secrets.GITHUB_TOKEN }}
